frontend/node_modules
frontend/node_modules/
expensetracker-backend/src/main/resources/application.properties
expensetracker-backend/src/main/resources/application.properties
expensetracker-backend/target/classes/application.properties
expensetracker-backend/src/main/resources/application.properties
expensetracker-backend/target/classes/application.properties
